<% include ../partials/header %>
<div class="ui  center aligned container" style="margin:100px 0px;">

    <h1 class="ui massive blue block header very padded">Add medicine </h1>
    <div class="ui divider"></div>
    <div class="left aligned ui green raised segment" style="width:60%; margin: auto;">
        <form action="/pharmacists/medicines/<%=medicine.medicineID%>?_method=PATCH" method="POST">
            <div class="ui form">
                

                <div class="ui grid" style="margin:auto;">

                    <div class="row">
                        <div class="four wide column">
                            <label class="ui  green medium header" for="medicineName">Name:</label>
                        </div>

                        <div class="eight wide column">
                            <input readonly type="text" name="name" placeholder="name" value="<%=medicine.name%>" required>
                        </div>
                    </div>



                    <div class="row">
                        <div class="four wide column">
                            <label class="ui  green medium header" for="medicineQuantity">Quantity:</label>
                        </div>

                        <div class="eight wide column">
                            <input type="number" name="quantity" placeholder="quantity" value="<%=medicine.quantity%>" required>
                        </div>
                    </div>





                    <div class="ui center aligned  container">
                        <button class="ui  compact  blue inverted massive button column center aligned ">
                           Update

                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>




<!-- <h1>Edit Drug</h1>

<form action="/medicines/<%=medicine.medicineID%>?_method=PATCH" method="POST">
    <input type="text" name="name" placeholder="name" value="<%=medicine.name%>">
    <input type="text" name="description" placeholder="description" value="<%=medicine.description%>">
    <input type="text" name="quantity" placeholder="quantity" value="<%=medicine.quantity%>">
    <input type="text" name="cost" placeholder="cost" value="<%=medicine.cost%>">
    <input type="submit" value="Submit">
</form> -->